{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <section class="articles">

        {% for article in articles %}

            <articles>
                <h2>{{ article.title }}</h2>
                <div class="metada">Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date("H:i")  }} dans la catégorie jardinage</div>
                <div class="content">
                    <img src="{{ asset('img/jardinage.jpg') }}" alt="">
                    {{ article.content | raw }}
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta earum facere maiores quidem rem sit?</p>
                    <p>Assumenda eligendi enim id incidunt, ipsa iure libero modi optio quaerat quasi repudiandae sint
                        totam.</p>
                    <a href="{{ path('blog_show') }}" class="btn btn-primary">lire la suite</a>
                </div>
            </articles>
        {% endfor %}

    </section>
{% endblock %}
